@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 40px; 
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 50px;
}

.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  background-color: #d4edda;
  color: #155724;
}

.alert:contains("❌") {
  background-color: #f8d7da;
  color: #721c24;
}


#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
  cursor: pointer;
  
}

#subtotal button:hover {
    background-color: #fff;
    color: #088178;
    outline: none;
    border: none;
}

#subtotal {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 30px;
  display: block;
  margin: auto;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
.tableSection{
	width: 80%;
	display: block;
	margin: auto;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
/* Media Query */

@media (max-width: 480px) {
  /* Cart Page */

  #cart-add {
    flex-direction: column;
  }

  #coupon {
    width: 100%;
  }

  #subtotal {
    width: 100%;
    padding: 20px;
  }
}