@charset "UTF-8";


.footer{
	background-color: #707346;
  width: 100%;
  /*height: 300px;*/
  display: flex;
  flex-direction: column;
}
.topFooter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.aboutHandicrafts,
.newsletter,
.contact {
  width: 25%;
  height: 80%;
  text-align: center;
  padding: 20px;
  color: #eed7ae;
}
.email-box,
.subscribeButton {
  width: 45%;
  height: 35px;
  padding: 0px 10px;
  background: #eed7ae;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 10px;
}
.subscribeButton {
  background-color: #ab571b;
  color: white;
  font-size: 18px;
}
.bottomFooter {
  width: 100%;
  height: 50px;
  border-top: 2px solid #eed7ae;
}