@charset "UTF-8";
body{
	font-family: sans-serif;
}
.mainContainer{
	width: 60%;
	height: 495px;
	display: flex;
	margin: auto;
	border: 2px solid white;
	position: relative;
	top: 100px;
	justify-content: space-between;
	align-items: center;
	box-shadow: -5px -5px 5px 5px #e0e4e7;
	border-radius: 15px;
}
.photoBox{
	width: 60%;
	height: 100%;
	
}
.photoBox img{
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.loginContainer{
	width: 50%;
	height: 70%;
}
.loginContainer h1{
	text-align: center;
}
label{
	font-size: 20px;
	font-weight: bolder;
}
.form-group{
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 0px 0px 0px 20px;
}
.loginField{
	width: 95%;
    height: 35px;
    margin-top: 8px;
    font-size: 1.2rem;
    border-radius: 5px;
}
.loginButton{
    width: 28%;
    display: block;
    background: linear-gradient(to right, #146EB4, #0B3D91);
    color: white;
    font-family: Lato;
    height: 45px;
    font-size: 22px;
    cursor: pointer;
    margin: auto;
    outline: white;
    border-radius: 20px;
    border: none;
}
.loginButton:hover{
	background: linear-gradient(to right, #0B3D91, #146EB4);
	color: white;
}