@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
.mainSection {
  width: 50%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 60px auto;
  background: #f7f7f7;
  box-shadow: -8px -8px 10px 0px gray;
}
.profilePhotoSection {
  width: 45%;
  height: 100%;
  padding: 77px 100px;
  background: #e3e6f3;
}
.profileImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.infoSection {
  width: 75%;
  height: 100%;
  padding: 36px 20px;
}
.profilePhotoSection .profileIcon {
  font-size: 110px;
  color: #627782;
  stroke-width: 0.5;
}
.myProfileTitle {
  font-weight: 400;
  font-size: 30px;
  width: 100%;
  border-bottom: 2px solid #142825;
  color: #3f6a67;
}
.personalInfo {
  margin-top: 60px;
}
.userName {
  font-weight: 400;
  font-size: 24px;
}
.userInfo {
  margin: 20px;
}
span {
  margin: 10px 10px;
}
.buttonClass {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.editButton,
.deleteButton {
  width: 132px;
  height: 45px;
  border-radius: 10px;
  background: #718fa7;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}
.editButton:hover,
.deleteButton:hover {
  background: white;
  color: #718fa7;
}